@model IEnumerable<OdetoFood.data.Models.Restaurante>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <div>
        Hay @Model.Count() restaurantes en la base de datos
    
    </div>

</div>

